<header>
    <h1 class="titulo">Pedro Picalua <span>Freelancer</span></h1>

    <button class="menu-toggle" aria-label="Abrir menú" aria-controls="menu" aria-expanded="false">
        ☰
    </button>
</header>

<div class="nav-bg">
    <nav id="menu" class="navegacion-principal contenedor">
        <a href="index.html">Inicio</a>
        <a href="sobremi.html">Sobre mí</a>
        <a href="portafolio.html">Portafolio</a>
        <a href="contacto.html">Contacto</a>
    </nav>
</div>

<div id="menu-overlay"></div>